<div *ngIf="detailService.messages!=''">
	<table class="table table-striped table-dark">
		<tr *ngIf="imagejudge(detailService.messages.Item)">
			<td class="field">Product Images</td>
			<td (click)="open(content)" style="color: #33cccc">View Product Images Here</td>
		</tr>
		<tr *ngIf="subtitlejudge(detailService.messages.Item)">
			<td class="field">Subtitle</td>
			<td>{{detailService.messages.Item.Subtitle}}</td>
		</tr>
		<tr *ngIf="pricejudge(detailService.messages.Item)">
			<td class="field">Price</td>
			<td>${{detailService.messages.Item.CurrentPrice.Value}}</td>
		</tr>
		<tr *ngIf="locationjudge(detailService.messages.Item)">
			<td class="field">Location</td>
			<td>{{detailService.messages.Item.Location}}</td>
		</tr>
		<tr *ngIf="returnpolicyjudge(detailService.messages.Item)">
			<td class="field">Return Policy</td>
			<td>Returns Accepted within {{detailService.messages.Item.ReturnPolicy.InternationalReturnsWithin}}</td>
		</tr>
		<tr *ngFor="let specific of arr(specificsnum(detailService.messages.Item)); index as i">
			<td class="field">{{detailService.messages.Item.ItemSpecifics.NameValueList[i].Name}}</td>
			<td>{{detailService.messages.Item.ItemSpecifics.NameValueList[i].Value[0]}}</td>
		</tr>
	</table>

	<ng-template #content let-modal>
	  <div class="modal-header">
	    <h4 class="modal-title" id="modal-basic-title">Product Images</h4>
	    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div *ngFor="let j of detailService.messages.Item.PictureURL; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'">
                <a href={{j}} target="_blank"><img class="mycarousel-img" [src]="j" alt="Event Image"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" *ngIf="detailService.messages.Item.PictureURL.length>1">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		<a class="carousel-control-next" href="#myCarousel" data-slide="next" *ngIf="detailService.messages.Item.PictureURL.length>1">
		  	<span class="carousel-control-next-icon"></span>
		</a>
      </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	  </div>
	</ng-template>
</div>