<div *ngIf="detailService.messages!=''">
	<table class="table table-striped table-dark">
		<tr *ngIf="sellerjudge(detailService.messages.Item)">
			<td id="seller" colspan="2">
				{{detailService.messages.Item.Seller.UserID.toUpperCase()}}
			</td>
		</tr>
		<tr *ngIf="sellerfeedbackscorejudge(detailService.item)">
			<td class="field">Feedback Score</td>
			<td>{{detailService.item.sellerInfo[0].feedbackScore[0]}}</td>
		</tr>
		<tr *ngIf="sellerpopularityjudge(detailService.item)">
			<td class="field">Popularity</td>
			<td class="progress-wrapper">
				<round-progress [current]="detailService.item.sellerInfo[0].positiveFeedbackPercent[0]" [max]=100 [radius]=18 [stroke]=3></round-progress>
				<div class="popularitytext">{{detailService.item.sellerInfo[0].positiveFeedbackPercent[0]}}</div>
			</td>
		</tr>
		<tr *ngIf="sellerfeedbackratingstarscorejudge(detailService.item)">
			<td class="field">Feedback Rating Star</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 0">
				<i class="material-icons" style="color: white">star_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 1">
				<i class="material-icons" style="color: yellow">star_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 2">
				<i class="material-icons" style="color: blue">star_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 3">
				<i class="material-icons" style="color: turquoise">star_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 4">
				<i class="material-icons" style="color: purple">star_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 5">
				<i class="material-icons" style="color: red">star_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 6">
				<i class="material-icons" style="color: green">stars_border</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 7">
				<i class="material-icons" style="color: yellow">stars</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 8">
				<i class="material-icons" style="color: turquoise">stars</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 9">
				<i class="material-icons" style="color: purple">stars</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 10">
				<i class="material-icons" style="color: red">stars</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 11">
				<i class="material-icons" style="color: green">stars</i>
			</td>
			<td *ngIf="sellerfeedbackratingstarstylejudge(detailService.item) == 12">
				<i class="material-icons" style="color: silver">stars</i>
			</td>
		</tr>
		<tr *ngIf="sellertopratedjudge(detailService.item)">
			<td class="field">Top Rated</td>
			<td *ngIf = "detailService.item.sellerInfo[0].topRatedSeller == 'true'">
				<i class="material-icons" style="color: green">done</i>
			</td>
			<td *ngIf = "detailService.item.sellerInfo[0].topRatedSeller == 'false'">
				<i class="material-icons" style="color: red">clear</i>
			</td>
		</tr>
		<tr *ngIf="sellerstorenamejudge(detailService.item)">
			<td class="field">Store Name</td>
			<td>{{detailService.item.storeInfo[0].storeName[0]}}</td>
		</tr>
		<tr *ngIf="sellerbuyproductatjudge(detailService.item)">
			<td class="field">Buy Product At</td>
			<td><a href={{detailService.item.storeInfo[0].storeURL[0]}}>Store</a></td>
		</tr>
	</table>
</div>