.jumbotron{
	padding: 10px 0px 10px 0px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
}

.inf{
	margin-top: 20px;
	margin-left: 10px;
}

img{
	width: 100%;
}

@media (max-width: 576px){
	img{
		width: 180px;
	}
	.inf{
		margin-left: 15px;
	}
}