#container{
	width: 78%;
	margin: auto;
}

#tablecontainer{
	overflow: scroll;
	background-color: #212529;
}

#norecord{
	width: 78%; 
	margin: 10px auto;
}

#buttoncontainer{
	width: 97%; 
	margin-bottom: 30px;
}

@media (max-width: 576px){
	.table{
		margin: auto;
	}
	#container{
		width: 95%;
	}
	#buttoncontainer{
		width: 97%; 
	}
	#norecord{
		width: 95%; 
	}
}